.button {
  font: inherit;
  background-color: #008080;
  color: white;
  border: 1px solid #008080;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.25rem;
}

.button:hover,
.button:active {
  background-color: #209696;
  border-color: #209696;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
